# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# folders
.metadata/
Debug/
Release/
.directory

# others
.directory
*.zip
*.png
.metadata/.ide.log
.metadata/.log
.metadata/.plugins/com.st.stm32cube.ide.mcu.livewatch/saved_expr.dat
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/CMSIS-PeripheralDrivers.1708654673924.pdom
.metadata/.plugins/org.eclipse.cdt.core/Examen.1709299555411.pdom
.metadata/.plugins/org.eclipse.cdt.dsf.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/CMSIS-PeripheralDrivers.build.log
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/Examen.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.history/12/c0c145e188dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/21/f0c365a3dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/27/2076c4f48cdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/28/501ac56dd6dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/2c/e0ae291bd7dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/35/902454df80dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/46/600a1d9191dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/55/208e58a68edd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/56/c0229b028edd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/5b/20c6950583dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/5d/e07d94eadcdc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/6/e0502a8e89dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/6b/00979c28e0dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/6c/f07f1a6984dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/6e/80088280dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/7a/20306219e9dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/7d/70f235f382dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/8c/9031e5ab84dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/91/10684c788bdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/99/70ffb02e83dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/9c/d025a98cdedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/ad/10497733dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/b1/f0345b178bdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/bb/20c7e02a8fdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/bb/a0b9b497e1dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/d3/30480fbbe0dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/d6/a0cc1e8c8ddd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/dc/d059d4b4dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/e/f04c5b5288dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS-PeripheralDrivers/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Examen/.indexes/1/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Examen/.indexes/1/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Examen/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/10.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/version.ini
.metadata/.ide.log
.metadata/.log
.metadata/.plugins/com.st.stm32cube.ide.mcu.livewatch/saved_expr.dat
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/CMSIS-PeripheralDrivers.1708654673924.pdom
.metadata/.plugins/org.eclipse.cdt.core/Examen.1709299555411.pdom
.metadata/.plugins/org.eclipse.cdt.dsf.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/CMSIS-PeripheralDrivers.build.log
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/Examen.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.history/12/c0c145e188dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/21/f0c365a3dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/27/2076c4f48cdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/28/501ac56dd6dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/2c/e0ae291bd7dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/35/902454df80dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/46/600a1d9191dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/55/208e58a68edd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/56/c0229b028edd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/5b/20c6950583dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/5d/e07d94eadcdc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/6/e0502a8e89dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/6b/00979c28e0dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/6c/f07f1a6984dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/6e/80088280dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/7a/20306219e9dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/7d/70f235f382dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/8c/9031e5ab84dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/91/10684c788bdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/99/70ffb02e83dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/9c/d025a98cdedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/ad/10497733dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/b1/f0345b178bdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/bb/20c7e02a8fdd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/bb/a0b9b497e1dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/d3/30480fbbe0dc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/d6/a0cc1e8c8ddd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.history/dc/d059d4b4dedc001e15e2a298ead0d02a
.metadata/.plugins/org.eclipse.core.resources/.history/e/f04c5b5288dd001e1fb5fcbc2dc3e0fb
.metadata/.plugins/org.eclipse.core.resources/.projects/CMSIS-PeripheralDrivers/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Examen/.indexes/1/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Examen/.indexes/1/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Examen/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/10.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/version.ini
